/* autoprefixer grid: autoplace */
@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: "Noir Pro Light";
  font-weight: 200;
  font-display: swap;
  src: url("fonts/noir-pro.otf") format("otf");
}
@font-face {
  font-family: "Noir Pro Regular";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/noir-pro.otf") format("otf");
}
@font-face {
  font-family: "Noir Pro Medium";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/noir-pro.otf") format("otf");
}
@font-face {
  font-family: "Noir Pro SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("fonts/noir-pro.otf") format("otf");
}
@font-face {
  font-family: "Noir Pro Bold";
  font-weight: 700;
  font-display: swap;
  src: url("fonts/noir-pro.otf") format("otf");
}
@font-face {
  font-family: "SF Pro Light";
  font-weight: 200;
  font-display: swap;
  src: url("fonts/sf-pro.ttf") format("ttf");
}
@font-face {
  font-family: "SF Pro Regular";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/sf-pro.ttf") format("ttf");
}
@font-face {
  font-family: "SF Pro Medium";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/sf-pro.ttf") format("ttf");
}
@font-face {
  font-family: "SF Pro SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("fonts/sf-pro.ttf") format("ttf");
}
@font-face {
  font-family: "SF Pro Bold";
  font-weight: 700;
  font-display: swap;
  src: url("fonts/sf-pro.ttf") format("ttf");
}
body {
  font-family: "SF Pro Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
.np-bold {
  font-family: "Noir Pro Bold";
  font-weight: 700;
  font-display: swap;
}
.np-medium {
  font-family: "Noir Pro Medium";
  font-weight: 500;
  font-display: swap;
}
.np-light {
  font-family: "Noir Pro Light";
  font-weight: 200;
  font-display: swap;
}
.np-regular {
  font-family: "Noir Pro Regular";
  font-weight: 400;
  font-display: swap;
}
.np-semibold {
  font-family: "Noir Pro SemiBold";
  font-weight: 600;
  font-display: swap;
}
.np-light {
  font-family: "SF Pro Light";
  font-weight: 200;
  font-display: swap;
}
.np-regular {
  font-family: "SF Pro Regular";
  font-weight: 400;
  font-display: swap;
}
.np-medium {
  font-family: "SF Pro Medium";
  font-weight: 500;
  font-display: swap;
}
.np-semibold {
  font-family: "SF Pro SemiBold";
  font-weight: 600;
  font-display: swap;
}
.np-bold {
  font-family: "SF Pro Bold";
  font-weight: 700;
  font-display: swap;
}
small,
span,
text,
label,
textarea,
.regular {
  font: inherit;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--hex-theme);
  outline: none;
  border: none;
  width: calc(100vw - 2rem);
  padding: 1rem 0;
  margin: 1rem auto;
  color: var(--hex-white);
  font-family: "Noir Pro Medium";
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: 1.75rem;
}
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  outline: 0;
  border: 0;
  transition: background 600ms;
}
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.6);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.App {
  text-align: center;
  position: relative;
}
iframe {
  border: none;
}
/* Removing Increment & Decrement counter from input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
@media (min-width: 760px) {
  .dt-container {
    width: 62.5rem;
  }
}
